html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*menu*/

.dropdown, [type="checkbox"] {
    display: none;
}

#menu:checked ~ .dropdown, .list input:checked ~ ul {
    display: block;
}

/*style*/

.left {
    float:left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.logo {
    padding-left: 60px;
    position: fixed;
}

label:hover {
    cursor: pointer;
}

label {
    position: relative;
}

.nav {
    background-color: white;
    border-bottom: 1px solid black;
}

#nav-icon {
    font-size: 65px;
    z-index: 1;
}

.dropdown {
    padding-top: 0px;
    font-size: 40px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.list {
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
    text-align: center;
    padding-left: 0px;
}

#a {
    background-color: white;
}

/*logo*/

.roclogo {
    position: relative;
    text-align: center;
    padding-top: 30px;
}

.opendagenlogo {
    text-align: center;
    padding-top: 30px;
}

.sdlogo {
    padding-top: 120px;
    padding-right: 120px;
}

.technovium {
    padding-top: 100px;
    padding-right: 100px;;
}

/*tekststyle*/

.h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: -65px;
    padding-left: 1000px;
    position: relative;
}

.h2 {
    text-align: center;
    font-size: 50px;
}

.titel {
    padding-left: 30px;
}

.paragraphhoofdpagina {
    text-align: center;
    font-size: 30px;
}

.paragraphleerjaar1vakken {
    padding-left: 30px;
    font-size: 25px;
}

.paragraphleerjaar1advies {
    padding-left: 30px;
    font-size: 25px;
}

/*card*/

.card {
    border: 3px solid black;
}

/*map*/
#map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }