/*
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
*/
body {
  margin: 0;
  background: linear-gradient(to right, #ca5a04 0%, rgb(99, 95, 95));
  
}

ul {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: rgb(88, 84, 84);
  position: fixed;
  height: 81%;
  overflow: auto;
}

.footer {
  height: 145px;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: black;
  color: white;
}

.card {
  border: double 3px;
  border-radius: 5px;
  margin-left: 15%;
  width: 800px;
}

.card-title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
}

.abovelogo {
  padding-top: 30px;
  text-align: center;
}

.clear {
  clear: both;
}

.titel {
  text-align: center;
  font-size: 60px
}

.logomain {
  padding-left: 975px;
  padding-top: 50px;
}
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

