.dropdown, [type="checkbox"] {
  visibility: hidden;
}

#menu:checked ~ .dropdown, .list input:checked ~ ul {
  visibility: visible;
}

/*style*/

.right {
  float: right;
}

.clear {
  clear: both;
}

.logo {
  padding-left: 60px;
  position: fixed;
}

.h1 {
  font-family: 'Courier New', Courier, monospace;
  margin-top: -65px;
  padding-left: 1000px;
  position: fixed;
}

label:hover {
  cursor: pointer;
}

label {
  position: relative;
}

.nav {
  
}

#nav-icon {
  font-size: 65px;
  z-index: 1;
  position: fixed;
}

.dropdown {
  padding-top: 0px;
  font-size: 40px;
}

a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

.list {
  font-family: 'Courier New', Courier, monospace;
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

#a {
  background-color: white;
}

.roclogo {
  position: relative;
  text-align: center;
  padding-top: 30px;
}

.h2 {
  text-align: center;
  font-size: 50px;
}

.opendagenlogo {
  text-align: center;
  padding-top: 30px;
}

/*paragraphstyle*/

.paragraphhoofdpagina {
  text-align: center;
  font-size: 30px;
}

.paragraphleerjaar1 {
  padding-left: 30px;
  font-size: 25px;
}
/*
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: menu;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: right;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
*/
body {
  margin: 0;
  background: linear-gradient(to right, #ca5a04 0%, rgb(99, 95, 95));
  
}

ul {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: rgb(88, 84, 84);
  height: 81%;
  overflow: auto;
  position: fixed;
}

.footer {
  height: 145px;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 18px;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: black;
  color: white;
}

.card {
  border: double 3px;
  border-radius: 5px;
  margin-left: 15%;
  width: 800px;
}

.card-title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
}

.abovelogo {
  padding-top: 30px;
  text-align: center;
}

.clear {
  clear: both;
}

.titel {
  text-align: center;
  font-size: 60px
}

.logomain {
  padding-left: 975px;
  padding-top: 50px;
}
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 87%;
  margin-left: 13%;
  /* The width is the width of the web page */
}

